<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99042279552-91fviu66vnfet3vvnrfcp2bk2j954fu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99042279552-91fviu66vnfet3vvnrfcp2bk2j954fu7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>99042279552-ihq6enksiplqppplu2hmslk0h5luv32q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOEGDqpFE74l51RlNT0X5f8ifAIysCYTI</string>
	<key>GCM_SENDER_ID</key>
	<string>99042279552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiStudentAssistant</string>
	<key>PROJECT_ID</key>
	<string>ai-student-assistant-76e9e</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-student-assistant-76e9e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99042279552:ios:5555dc4d6af08833f8a665</string>
</dict>
</plist>